{%extends "base.html"%}

{% block titulo %} Nosotros {% endblock %}

{% block contenido %}
<p style="color: white;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero repellat quidem, ea, illum
    numquam libero quas
    repellendus officiis corrupti voluptas cumque error veritatis praesentium. Quod accusamus provident quaerat
    dignissimos mollitia.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia libero saepe ipsum! Laboriosam illum similique
    officiis tempore corporis quam, labore deleniti earum amet dolores tenetur, perferendis voluptatem repellendus!
    Nemo, aut?

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero repellat quidem, ea, illum numquam libero quas
    repellendus officiis corrupti voluptas cumque error veritatis praesentium. Quod accusamus provident quaerat
    dignissimos mollitia.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia libero saepe ipsum! Laboriosam illum similique
    officiis tempore corporis quam, labore deleniti earum amet dolores tenetur, perferendis voluptatem repellendus!
    Nemo, aut?

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero repellat quidem, ea, illum numquam libero quas
    repellendus officiis corrupti voluptas cumque error veritatis praesentium. Quod accusamus provident quaerat
    dignissimos mollitia.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia libero saepe ipsum! Laboriosam illum similique
    officiis tempore corporis quam, labore deleniti earum amet dolores tenetur, perferendis voluptatem repellendus!
    Nemo, aut?</p>
{% endblock contenido%}